body {
	/* background: #0f0; */
	background: #f2f2f2;
}

#main {
	/* background: #cfc; */
	background: #f2f2f2;
}

#debugBox {
	width: 80%;
}

.currentState td {
	background: #b4ff99;
}

.tab-content {
	background: #fff;
	border: 1px #000 solid;
}

.error {
	color: red;
}

.strategy-log {
	margin: 10px;
	
}

/**
 *
 */
.console-box {
	white-space: pre;
	font-family: courier;
	height: 400px;
	overflow: scroll;
	font-size: 8pt;
}

.console-logs {
  padding: 10px;
}

.tabs pre {
  margin: 0;
  padding: 0;
}

.console-error {
  color: red;
}

/**
 * tabbed panes
 **/

/* hide radio buttons (don't use display: none, because this breaks their functionality) */

.input {
  position: absolute;
  opacity: 0;
}

.label {
  float: left;
  height: 50px;
  padding: 0px 10px;
  background: #e5e5e5;
  cursor: pointer;
  font-weight: bold;
  font-size: 18px;
  color: #7f7f7f;
  transition: background 0.1s, color 0.1s;
}

.label:hover {
  background: #d8d8d8;
}

.label:active {
  background: #ccc;
}

.input:focus + .label {
  box-shadow: inset 0px 0px 0px 3px #2aa1c0;
  z-index: 1;
}

.tabs {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  width: 100%;
  background: #efefef;
  box-shadow: 0 48px 80px -32px rgba(0,0,0,0.3);
}

.panel {
  position: absolute;
  top: 50px;
  left: 0px;
  display: none;
  width: 100%;
  background: #fff;
}

/* this activates exactly the panel of the checked radio button */
.input:checked + .label {
  background: #fff;
  color: #000;
}

.input:checked + .label + .panel {
  display: block;
}

textarea {
    background: transparent;
    border: none;
    box-shadow: inset 0 0 10px #333;
    min-height: 200px;
    min-width: 800px;
    font-family: Arial, non-serif;
    font-weight: normal;
    font-size: 18px;
}

input[type="file"] {
    margin: 0px auto;
    font-size: 14px;
}

input[type="text"] {
    background: transparent;
    border: none;
    box-shadow: inset 0 0 10px #333;
    font-family: Arial, non-serif;
    font-size: 18px;
    padding: 10px 15px;