<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css"
	href="../webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/init">PROSECO</a>
			</div>
		</div>
	</nav>
	<div class="container" style="min-height: 500px; margin-left: 100px">
		<form action="#" th:action="@{/init}" th:object="${interviewDTO}"
			method="post">
			<p>Input:</p>
			<textarea rows="4" cols="50" th:field="*{content}"></textarea>
			<p>
				<input type="submit" value="Submit" />
			</p>
		</form>
	</div>
</body>
</html>
