<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
   
    <title>PROSECO - PROtotype-based SErvice COmposition</title>
       
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" type="text/css" href="/proseco.css" />
    <link rel="stylesheet" type="text/css" href="/cover.css" />
</head>

<body ng-app="ProsecoApp">

    <div class="site-wrapper" ng-controller="ProsecoAppController as pac">
      <div class="site-wrapper-inner">

          <div th:replace="fragments/header :: header"></div>

          <div class="inner cover">

			<div ng-show="pac.showInterview()">
				Interview
			</div>
            
            <div ng-show="pac.showChart()" ng-controller="StrategyChartController as scc">
            	<canvas id="line" class="chart chart-line"
            		chart-data="scc.data"
            		chart-labels="scc.labels"
            		chart-series="scc.series"
            		chart-options="scc.options"
            		chart-dataset-override="scc.datasetOverride"
            		chart-click="scc.onClick">
				</canvas>
			</div>
			
          	</div>
          <div th:replace="fragments/footer :: footer"></div>

      </div>
    </div>

    <script src="/js/jquery-3.3.1.min.js"></script>
	<script src="/js/Chart.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/angularjs-1.7.6.min.js"></script>
	<script src="/js/angular-chart.min.js"></script>
	<script src="/js/proseco-app.js"></script>
</body>

</html>
