<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="/proseco.css" />
</head>
<body>
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">PROSECO</a>
			</div>
		</div>
	</nav>
	<div class="container" style="min-height: 500px; margin-left: 100px">
		<form action="#" th:action="@{/}" th:object="${interviewDTO}"
			method="post">
			<p>Input:</p>
			<textarea rows="4" cols="50" th:field="*{content}"></textarea>
			<p>
				<input type="submit" value="Submit" />
			</p>
		</form>
	</div>
	
	<div class="container" style="margin-top: 25px;">
		<input type="button" id="btn-strategy-log-listener" class="btn btn-default" onclick="stopListeningStrategyLogs()" value="Stop Console" />
		<div id="strategy-logs" class="container">
			<div class="container strategy-log">
				<h2>Auto-WEKA</h2>
				<div class="tabs">
					<input name="tabs-autoweka-strategy" type="radio" id="tab-autoweka-strategy-merged" checked="checked" class="input" />
					<label for="tab-autoweka-strategy-merged" class="label">Merged</label>
					<div class="panel console-box">
						Content of Panel 1
						Log files
					</div>
					
					<input name="tabs-autoweka-strategy" type="radio" id="tab-autoweka-strategy-separated" class="input" />
					<label for="tab-autoweka-strategy-separated" class="label">Separated</label>
					<div class="panel console-box">
						Content of Panel 2
	Log files
						<span class="error">Content of Panel 2
	out</span>
						Content of Panel 3
	out
					</div>
		      	</div>
		      	<br style="clear: left;" />
		    </div>
		    
		    
		    <div class="container strategy-log">
				<h2>ML-Plan</h2>
				<div class="tabs">
					<input name="tabs-mlplan-strategy" type="radio" id="tab-mlplan-strategy-merged" checked="checked" class="input" />
					<label for="tab-mlplan-strategy-merged" class="label">Merged</label>
					<div class="panel console-box">
						Content of Panel 1
						Log files
					</div>
					
					<input name="tabs-mlplan-strategy" type="radio" id="tab-mlplan-strategy-separated" class="input" />
					<label for="tab-mlplan-strategy-separated" class="label">Separated</label>
					<div class="panel console-box">
						Content of Panel 2
	Log files
						<span class="error">Content of Panel 2
	out</span>
						Content of Panel 3
	out
					</div>
		      	</div>
		      	<br style="clear: left;" />
		    </div>
      
		</div>
	</div>
</body>
</html>
