<div th:fragment="statusbar" class="statusbar">

    <div class="statusbar-step statusbar-step-done">Requirements<br />Elicitation</div>
    
    <div class="statusbar-step-next" style="border-bottom-color: #000;"></div>
    
    <div class="statusbar-step statusbar-step-active">Run Search-Strategies</div>
    
    <div class="statusbar-step-next"></div>
    
    <div class="statusbar-step statusbar-step-todo">Grounding</div>
    
    <div class="statusbar-step-next"></div>
    
    <div class="statusbar-step statusbar-step-todo">Deployment</div>
    
    <div class="statusbar-step-next"></div>
    
    <div class="statusbar-step statusbar-step-todo">Done</div>
    
    <div class="clear-left"></div>
</div>